<%= render 'shared/navbar' %>
<div class="page-header">
  <%if !current_user&.player&.team  %>
    <%= link_to new_team_path, class: 'btn btn-primary' do %>
      <span class="glyphicon glyphicon-plus"></span>
      New Team
    <% end %>
  <% end %>
  <%= form_tag(teams_path, method: :get, :class => 'form-inline') do %>
    Name <%= text_field_tag :name, params[:name]%>
    <%= submit_tag 'Search', name: nil %>
  <% end %>
  <h1>Listing teams</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
    <tr>
      <th>Name</th>
      <th>Number of Games</th>
      <th>Number of Players</th>
      <th>Winning Percentage(%)</th>
      <th></th>
      <% if current_user&.admin %>
        <th></th>
      <% end %>
    </tr>
    </thead>

    <tbody>
    <%= content_tag_for(:tr, @teams) do |team| %>
      <td><%= team.name %></td>
      <td><%= team.games.size %></td>
      <td><%= team.players.size %></td>
      <td><%= team.winning_games.size/(team.games.size.nonzero? || 1) * 100 %></td>
      <td><%= link_to 'Show', team %></td>
      <% if current_user&.admin %>
        <td><%= link_to 'Destroy', team, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    <% end %>
    </tbody>
  </table>
</div>
