<div class="page-header">
  <%= link_to teams_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%if !current_user&.player&.team  %>
    <%= link_to join_team_path(@team), method: :post, class: 'btn btn-primary' do %>
      <span class="glyphicon glyphicon-pencil"></span>
      Join Team
    <% end %>
  <% end %>
  <%= render 'shared/alerts' %>
  <h1><%= @team.name %></h1>
</div>

<dl class="dl-horizontal">
  <dt>Current position in Tournament:</dt>
  <dd>-</dd>

  <dt>Number of goals:</dt>
  <dd><%= @team.players.sum(:total_goals)%></dd>

  <dt>Number of games won:</dt>
  <dd><%= @team.winning_games.size %></dd>

  <dt>Number of games:</dt>
  <dd><%= @team.games.size %></dd>

</dl>
<div>
  <h1>Listing players</h1>
</div>
<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
    <tr>
      <th>Name</th>
      <th>Position</th>
      <th>Total goals</th>
      <th>Captain</th>
      <th>Number of Games</th>
      <th>Status</th>
      <th></th>
      <th></th>
    </tr>
    </thead>

    <tbody>
    <%= content_tag_for(:tr, @players) do |player| %>
      <td><%= player.user.first_name + " " + player.user.last_name %></td>
      <td><%= player.position %></td>
      <td><%= player.total_goals %></td>
      <td><%= player.captain %></td>
      <td><%= player.games.size %></td>
      <td><%= player.status %></td>
      <td><%= link_to 'Show', player %></td>
      <% if current_user.player && player.id == current_user.player.id %>
        <td><%= link_to 'Leave', leave_team_path, method: :post, data: { confirm: 'Are you sure you want to leave?' } %></td>
      <% end %>
    <% end %>
    </tbody>
  </table>
</div>
