<%= render 'shared/navbar' %>
<div class="page-header">
  <% if current_user&.manager %>
    <%= link_to new_tournament_path, class: 'btn btn-primary' do %>
      <span class="glyphicon glyphicon-plus"></span>
      New Tournament
    <% end %>
  <% end %>
  <h1>Listing tournaments</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
    <tr>
      <th>Name</th>
      <th>Started</th>
      <th>Start day</th>
      <th>End date</th>
      <th>Winning team</th>
      <th></th>
      <th></th>
    </tr>
    </thead>

    <tbody>
    <%= content_tag_for(:tr, @tournaments) do |tournament| %>
      <td><%= tournament.name %></td>
      <td><%= tournament.started %></td>
      <td><%= tournament.start_day %></td>
      <td><%= tournament.end_date %></td>
      <td><%= tournament.winning_team_id %></td>
      <td><%= link_to 'Show', tournament %></td>
      <% if current_user&.admin %>
        <td><%= link_to 'Destroy', tournament, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% else %>
        <td></td>
      <% end %>
    <% end %>
    </tbody>
  </table>
</div>
