<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <span class="navbar-brand">SoccerMatch</span>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="nav nav-tabs" role="tablist">
      <li class="nav-item"><%= link_to 'Torneios' %></li>
      <li class="nav-item"><%= link_to 'Equipas' %></li>
      <li class="nav-item"><%= link_to 'Login', new_user_session_path%></li>
      <li class="nav-item"><%= link_to 'Register', new_user_registration_path %></li>
      <li class="nav-item"><%= link_to 'Guidelines' %></li>
    </ul>
  </div>
</nav>