<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <span class="navbar-brand">SoccerMatch</span>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="nav nav-tabs" role="tablist">
      <li class="nav-item"><%= link_to 'Tournaments', tournaments_path %></li>
      <li class="nav-item"><%= link_to 'Teams', teams_path %></li>
      <% if user_signed_in? %>
        <li class="nav-item"><%= link_to "Log out", destroy_user_session_path, method: :delete %></li>
        <% if current_user && current_user.admin %>
          <li class="nav-item"><%= link_to 'Administration' %></li>
        <% end %>
      <% else %>
        <li class="nav-item"><%= link_to 'Login', new_user_session_path%></li>
        <li class="nav-item"><%= link_to 'Register', new_user_registration_path %></li>
      <% end %>
      <li class="nav-item"><%= link_to 'Guidelines' %></li>
    </ul>
  </div>
</nav>
<%= render 'shared/alerts' %>
